$background: #141C31;
$white: #E5EBF1;
$red: #AA0A11;
$cyan: #21D6CB;
$font: Arial;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: $font;
    color: $white;
    background-color: $background;
}

.header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        height: 100%;
    }
}

.navbar {
    width: 100%;
    height: 40px;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;
        text-align: center;
        color: $white;
        height: 100%;
        padding: 10px;
        font-size: 20px;
        &:hover{
            color: $cyan;
        }
    }
    form {
        height: 100%;
        display: flex;
        justify-content: center;
        padding-left: 10px;
        input {
            height: 100%;
            padding: 0px;
            margin: 0px;
            color: $white;
            background-color: inherit;
            border: none;
            &[type=submit] {
                background-image: url('/dmc-forum/public/img/search.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                margin: 10px;
            }
            &[type=submit]:hover {
                cursor: pointer;
            }
        }
    }
    .dropdown {
        position: relative;
        display: inline-block;
        &:hover {
            cursor: pointer;
            color: $cyan;
        }
        &:hover .dropdown-content{
            display: block;
        }
        .dropdown-title {
            padding: 10px;
            font-size: 20px;
            height: 40px;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $red;
            width: 83px;
            z-index: 1;
            a {
                padding: 10px;
            }
        }
    }
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    min-height: 80vh;
    .left, .right {
        width: 100%;
        img {
            position: fixed;
            width: 20%;
        }
    }
    .content {
        width: 100%;
    }
}

.home {
    .info {
        text-align: center;
    }
}

.post, .post-extended {
    position: relative;
    margin: 2%;
    padding: 10px;
    border: 1px solid $white;
    .title {
        font-size: larger;
    }
    .tag {
        border-radius: 10px;
        background-color: $red;
        width: 60px;
        margin-top: 10px;
        margin-bottom: 15px;
        text-align: center;
    }
    iframe {
        float: right;
        width: 480px;
        height: 270px;
    }
    form {
        margin-top: 10px;
        input {
            &[type=text] {
                display: none;
            }
        }
    }
}

.post-extended {
    min-height: 290px;
    .author{
        position: absolute;
        margin: 10px;
        bottom: 0;
        left: 0;
        a {
            text-decoration: none;
            color: $white;
            &:hover {
                color: $cyan;
            }
        }
    }
}

.account {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    form {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 20px;
        border: 1px solid $white;
        background-color: $red;
        input {
            margin-bottom: 10px;
        }
    }
    a {
        margin-top: 10px;
        text-decoration: none;
        color: inherit;
        &:hover {
            color: $cyan;
        }
    }
}

.profile {
    position: absolute;
    margin-left: 90%;
    width: 10%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
    }
    a {
        text-decoration: none;
        color: $red;
        &:hover {
            color: $cyan;
        }
    }
}

.postmaker {
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin: 10px;
    label {
        margin: 15px 0 15px 0;
    }
    select {
        width: min-content;
    }
    textarea {
        resize: none;
        width: 100%;
        height: 50%;
    }
    input {
        &#author {
            width: min-content;
        }
        &[type=submit] {
            margin-top: 10px;
            width: min-content;
        }
    }
}

.errors {
    padding: 0px;
    list-style-type: none;
    .error {
        list-style: none;
        margin: 5px;
        padding: 5px;
        background-color: $red;
    }
}

#author, #postid {
    display: none;
}

.replies {
    list-style: none;
    margin-bottom: 340px;
    .reply {
        color: $white;
        border: 1px solid $white;
        margin: 2%;
    }
}

.replyBox {
    height: 320px;
    width: 60%;
    position: fixed;
    bottom: 0;
    form {
        textarea {
            height: 280px;
            width: 100%;
        }
    }
}

textarea {
    color: $white;
    border: 1px solid $white;
    background-color: $background;
}

input[type=text], select {
    color: $white;
    background-color: $background;
    border: 1px solid $white;
}

input[type=submit] {
    color: $white;
    border: 1px solid $white;
    background-color: $red;
    &:hover {
        background-color: $cyan;
        cursor: pointer;
    }
}
