* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: Arial;
  color: #E5EBF1;
  background-color: #141C31;
}

.header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header img {
  height: 100%;
}

.navbar {
  width: 100%;
  height: 40px;
  background-color: #AA0A11;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar a {
  text-decoration: none;
  text-align: center;
  color: #E5EBF1;
  height: 100%;
  padding: 10px;
  font-size: 20px;
}
.navbar a:hover {
  color: #21D6CB;
}
.navbar form {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}
.navbar form input {
  height: 100%;
  padding: 0px;
  margin: 0px;
  color: #E5EBF1;
  background-color: inherit;
  border: none;
}
.navbar form input[type=submit] {
  background-image: url("/dmc-forum/public/img/search.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 10px;
}
.navbar form input[type=submit]:hover {
  cursor: pointer;
}
.navbar .dropdown {
  position: relative;
  display: inline-block;
}
.navbar .dropdown:hover {
  cursor: pointer;
  color: #21D6CB;
}
.navbar .dropdown:hover .dropdown-content {
  display: block;
}
.navbar .dropdown .dropdown-title {
  padding: 10px;
  font-size: 20px;
  height: 40px;
}
.navbar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #AA0A11;
  width: 83px;
  z-index: 1;
}
.navbar .dropdown .dropdown-content a {
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.container .left, .container .right {
  width: 100%;
}
.container .left img, .container .right img {
  position: absolute;
  width: 20%;
}
.container .content {
  width: 100%;
}

.home .info {
  text-align: center;
}

.posts {
  width: 100%;
}
.posts .post {
  margin: 2%;
  padding: 10px;
  border: 1px solid #E5EBF1;
}
.posts .post .title {
  font-size: larger;
}
.posts .post .tag {
  border-radius: 10px;
  background-color: #AA0A11;
  width: 60px;
  margin-top: 10px;
  text-align: center;
}
.posts .post .description {
  margin-top: 15px;
  margin-bottom: 15px;
}

.account {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.account form {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
  border: 1px solid #E5EBF1;
  background-color: #AA0A11;
}
.account form input {
  margin-bottom: 10px;
}
.account a {
  margin-top: 10px;
  text-decoration: none;
  color: inherit;
}
.account a:hover {
  color: #21D6CB;
}

.profile {
  position: absolute;
  margin-left: 90%;
  width: 10%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
.profile a {
  text-decoration: none;
  color: #AA0A11;
}
.profile a:hover {
  color: #21D6CB;
}

.postmaker {
  height: 75vh;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.postmaker label {
  margin: 15px 0 15px 0;
}
.postmaker select {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.postmaker textarea {
  resize: none;
  width: 100%;
  height: 50%;
}
.postmaker input#author {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.postmaker input[type=submit] {
  margin-top: 10px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
